<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<style>
.header {
  background-color: #333333;
  text-align: center;
  padding: 20px;
}
.button {
  background-color: #4CAF50; /* Green */
  color: 4CAF50;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: #4CAF50;
  color: black;
  border: 2px solid #4CAF50;
}
.button1:hover {
  background-color: #07da63;
  color: white;
}
</style>
<body bgcolor="#222222">
    <center>
        <div class="header">
            <h1>Learn Hiragana</h1>
        </div>
        <a class="button button1" href="/hiragana/">Begin</a>
    </center>
</body>
</html>